# 测试框架
pytest==7.4.4
pytest-html==4.1.1
pytest-xdist==3.5.0

# Web UI 自动化
selenium==4.16.0

# 接口测试
requests==2.31.0

# 数据处理
PyYAML==6.0.1
openpyxl==3.1.2

# 日志
loguru==0.7.2

# 报告（可选）
allure-pytest==2.13.2
